{% extends "base.html" %}

{% block content %}
  <h1>CHAOS</h1>
  <p>
    <u>C</u>ombinatorial <u>H</u>igh-throughput <u>A</u>nalysis and
    <u>O</u>ptimization for <u>S</u>ynthesis.
  </p>

  <h2 id="datasets">Datasets</h2>
  <p>The following high-throughput datasets are available for download:</p>

  <ul>
    {% for href in data["chaos"]["files"] %}
      <li><a href="https://s4e.ai/API/zips/{{ href }}">{{ href }}</a></li>
    {% endfor %}
  </ul>

  <p>More files available soon...</p>

  <h2 id="api">API access</h2>
  <p>
    API access is available; visit
    <a href="https://s4e.ai/API/chaos/?help">https://s4e.ai/API/chaos/?help</a> 
    for documentation.
  </p>

  <h2 id="gpt">CHAOS-GPT interface</h2>
  <iframe
    src="https://chaos.boctor.dev/"
    width="100%"
    height="800px"
    style="border:none;">
  </iframe>


{% endblock %}
