{% extends "base.html" %}

{% block content %}
  <h1>Home</h1>
  <div class="index-header">
    Welcome to the <i>Entropy for Energy</i> Laboratory at Johns Hopkins University.
  </div>

  <div class="slideshow top" id="top_slideshow">
    <input type="checkbox" id="top_slideshow_play" class="slideshow-play" checked>
    <label for="top_slideshow_play" class="slideshow-indicator"></label>
    {% for slide in data.home.slides %}
      {% if loop.index == 1 %}
        {% set checked = " checked" %}
      {% endif %}
      <input type="radio" id="top_slideshow_{{ loop.index - 1}}" name="top_slideshow_indicators"{{ checked }}>
      <label class="slideshow-indicator" for="top_slideshow_{{ loop.index - 1 }}">{{ loop.index - 1 }}</label>
      <div class="slideshow-slide top">
        <div class="slideshow-slide-text">{{ slide.title }}</div>
        <div class="slideshow-slide-img">
          <img src="media/home/{{ slide.file }}" alt="{{ slide.title }}">
        </div>
      </div>
    {% endfor %}
  </div>
  
  <p>
    The Entropy for Energy (<i>S4E</i>) Laboratory develops computational and
    AI methods to design chemically disordered materials for energy
    production, chemical manufacturing, nuclear technology, and extreme
    environments. The number of possible compositions and atomic
    arrangements is enormous, far too many to calculate or test one at a
    time. We develop models that learn from this space and propose new
    materials, then make and test them in our laboratory and with
    collaborators.
  </p>
  <p>
    Since 2022, our work at Johns Hopkins University has focused on
    <a href="research.html#data">AI-driven materials design</a>,
    <a href="research.html#hydrogen">hydrogen production</a>, and
    <a href="research.html#nuclear">materials for fission and fusion</a>.
    Recent results include the
    <a href="https://doi.org/10.1021/prechem.5c00467" target="_blank">first demonstration that iodine can be incorporated directly into a pyrochlore crystal lattice</a>,
    <a href="https://doi.org/10.1088/2399-1984/ae19b0" target="_blank">platinum-free fuel-cell catalyst candidates</a>,
    and <a href="https://doi.org/10.1039/D5MH00356C" target="_blank">new computational methods</a>
    for high-entropy materials. The program is supported by ARPA-E, the
    Seaver Institute, <a href="https://energyinstitute.jhu.edu/" target="_blank">ROSEI</a>,
    and the <a href="https://ai.jhu.edu/" target="_blank">Data Science and AI Institute</a>.
    The group has filed two provisional patents.
  </p>
  <p>
    The <i>S4E</i> lab is recruiting PhD students and postdoctoral researchers
    with backgrounds in materials science, physics, chemistry, and computer
    science. See the <a href="jobs.html">Jobs</a> page for how to apply.
  </p>
  {% if data.slideshow_publications %}
    <div class="slideshow bottom" id="bottom_slideshow">
      <input type="checkbox" id="bottom_slideshow_play" class="slideshow-play noscript" checked>
      <label for="bottom_slideshow_play" class="slideshow-indicator noscript"></label>
      {% for slide in data.slideshow_publications %}
        {% if loop.index == 1 %}
          {% set checked = " checked" %}
        {% endif %}
        <input type="radio" id="bottom_slideshow_{{ loop.index - 1 }}" name="bottom_slideshow_indicators"{{ checked }}>
        <label class="slideshow-indicator" for="bottom_slideshow_{{ loop.index - 1 }}">
          {{ loop.index }}
        </label>
        <div class="slideshow-slide top">
          <div class="slideshow-slide-text">{{ slide.text }}</div>
          <a class="slideshow-slide-img" href="{{ slide.url }}" target="_blank">
            <img src="{{ slide.img }}" alt="{{slide.text}}">
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% if data.slideshow_publications %}
  {% block body_extra %}
    <script src="js/slideshow.js"></script>
  {% endblock %}
{% endif %}
