{#- Site footer: contact, sponsors, and the product's contributors when the
    page belongs to a product (CHAOS, LOOP). -#}
<footer>
  <div class="footer-inner">
  <img src="{{ data.root }}media/footer/jhu.png" alt="Johns Hopkins University logo">
  <div class="contact">
    <div class="contact-line">Entropy for Energy Laboratory</div>
    <div class="contact-line">Department of Materials Science and Engineering</div>
    <div class="contact-line">Johns Hopkins University</div>
    <div class="contact-line">Baltimore, Maryland</div>
  </div>
  <div class="sponsors">
  <a href="https://spacestudies.jhu.edu" target="_blank"><img src="{{ data.root }}media/footer/pic_space_at_hopkins_logo.png" alt="space@Hopkins logo" class="sponsor"></a>
  <a href="https://www.idies.jhu.edu" target="_blank"><img src="{{ data.root }}media/footer/idies.png" alt="IDIES logo" class="sponsor"></a>
  <a href="https://md.spacegrant.org/" target="_blank"><img src="{{ data.root }}media/footer/mdsgc.png" alt="MDSGC logo" class="sponsor"></a>
  <a href="https://surpass.jhu.edu/" target="_blank"><img src="{{ data.root }}media/footer/surpass.png" alt="SURPASS logo" class="sponsor"></a>
  <a href="https://arpa-e.energy.gov/" target="_blank"><img src="{{ data.root }}media/footer/arpa_e.png" alt="ARPA_E logo" class="sponsor"></a>
  <a href="https://ai.jhu.edu/" target="_blank"><img src="{{ data.root }}media/footer/dsai.png" alt="DSAI logo" class="sponsor"></a>
  <a href="https://energyinstitute.jhu.edu/" target="_blank"><img src="{{ data.root }}media/footer/rosei.png" alt="ROSEI logo" class="sponsor"></a>
  </div>
  {% if data.product and data.product.contributors %}
    <details class="footer-contributors">
      <summary>Contributors</summary>
      <ul aria-label="{{ data.product.name }} contributors">
        {% for person in data.product.contributors %}
          <li class="footer-contributor">{{ person.name }} &middot; {{ person.years }}</li>
        {% endfor %}
      </ul>
    </details>
  {% endif %}
  </div>
</footer>
